[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
numpy = "*"
opencv-python = "*"
mediapipe = "*"
torch = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
black = "*"
pylint = "*"
tomli = "*"

[requires]
python_version = "3.10"
