[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
numpy = "*"
opencv-python-headless = "*"
mediapipe = "==0.10.18"
torch = "*"
pymongo = "*"
dill = "*"
tomli = "*"

[dev-packages]
pytest = "*"
coverage = "*"
black = "*"
pylint = "*"
tomli = "*"
dill = "*"
exceptiongroup = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
